body {
  font-family: "Poppins", sans-serif;
  background-color: #f4f4f9;
}

h1, h3, h2 {
  color: white;
  font-weight: 600;
}

h3 {
  text-align: center;
} 

p {
  color: white;
}

.navbar {
  background-color: #4AAFD5 ; 
}

a {
  cursor: default; 
}

a:hover {
  cursor: default;
}

.navbar-brand,
.nav-link {
  font-size: 18px;
  color: white;
  font-family: "Poppins", sans-serif;
}

.nav-link:hover {
  color: #91B187; 
} 

body {
  background-color: #91B187;
} 

.section-img {
  width: 20%;      
  height: auto;
  display: block;
  margin: 0 auto 25px;
  border-radius: 10px;
  transition: opacity 0.4s ease;
} 

.section-img:hover {
  opacity: 0.8;
} 

